footer.footer.metadata
    - var hexoURL = 'https://hexo.io/';
    - var githubPage = 'https://pages.github.com/';
    - var apolloURL = 'https://github.com/pinggod/hexo-theme-apollo';
    - var year = new Date().getFullYear();
    p.footer__text © #{year} #{config.author}